<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/media/style.css' %}">

    <title>Cinema App</title>
</head>
<body>
<!-- Image and text -->
<nav>
  <a class="navbar-brand" href="{% url 'movieapp:index' %}">
    Online Movie Store
  </a>
    <a class="addButton" href="{% url 'movieapp:add_movie' %}">Add Movie</a>
</nav>
<!--<p style="padding: -1px"></p>-->
{% block body %}
{% endblock %}
</body>
</html>