{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="card-container">
        <div class="card">
            <img src="{{mov.img.url}}" alt="Image not found">
        </div>
        <div class="card-body2">
            <h2 class="card-title">
                {{mov.name}}
            </h2>
            <h5 class="card-text">
                {{mov.des}}
            </h5>
            <h5 class="card-text">
                The movie was released in {{mov.year}}
            </h5>
            <br>
            <a class="button" href="{% url 'movieapp:update' mov.id  %}">Update</a>
            <a class="button" style="background-color: #ff0000;"
               onmouseover="this.style.backgroundColor='#800000';"
               onmouseout="this.style.backgroundColor='#ff0000';"
               href="{% url 'movieapp:delete' mov.id  %}">Delete</a>
        </div>
    </div>
</div>

{% endblock %}