* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3c3c3c;
    font-family: "Bookman Old Style", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: #808080;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

.navbar-brand {
    margin-right: auto;
}

.addButton {
    padding: 0.6rem;
    font-size: 1rem;
    text-align: center;
    background-color: darkviolet;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}
.addButton:hover {
    transform: scale(1.03);
    background-color: blueviolet;
}

.card-container {
    margin-top: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    width: 20.3rem;
    margin: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35);
    transition: 0.3s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    height: 21rem;
    object-fit: cover;
    display: block;
}

.card-body {
    background-color: #ddd;
    padding: 1rem;
    height: 8rem;
}

.card-body2 {
    background-color: #ffffff;
    padding: 1rem;
    height: 22rem;
}

.card-text {
    font-size: 18px;
    padding-bottom: 14px;
    font-style: italic;
}

h2 {
    margin-bottom: 0.5rem;
}

h5 {
    line-height: 1.4;
    text-align: justify;
}

.button {
    padding: 0.5rem;
    display: inline;
    background-color: #0d6efd;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease;
}
.button:hover {
    transform: scale(1.03);
    background-color: #00008b;
}

.buttonYes {
    height: 50px;
    width: 56px;
    background-color: #ff0000;
    color: #ffffff;
    font-family: "Bookman Old Style","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}
.buttonYes:hover {
    transform: scale(1.03);
    background-color: #8b0000;
}

.buttonNo {
    padding: 1rem;
    display: inline;
    background-color: #0d6efd;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}
.buttonNo:hover {
    transform: scale(1.03);
    background-color: #00008b;
}

.form-control {
    margin: 8px;
    padding: 2px;
    font-size: 18px;
    color: #ffffff;
}

.fm-button {
    padding: 0.6rem;
    background-color: #0d6efd;
    color: #ffffff;
    font-family: "Bookman Old Style","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}
.fm-button:hover {
    transform: scale(1.03);
    background-color: #00008b;
}

.field {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 6px;
    padding: 10px;
    border-radius: 5px;
    font-family: "Bookman Old Style","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

@media (max-width: 800px) {
    .card-body2 {
        height: 100vh;
    }
}

@media (max-width: 1600px) {
    .card-container {
        margin-top: 0.6rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 0;
    }
}

